.controls {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    gap: 10px;
  }
  
  input {
    padding: 10px;
    font-size: 1rem;
  }
  
  button {
    padding: 10px 15px;
    font-family: optima;
    font-size: 1rem;
    background: #ff69b4;
    color: white;
    border: none;
    cursor: pointer;
  }


  
  .info {
    font-family: optima;
    padding: 10px 15px;
    font-size: 1rem;
    background: rgba(255, 105, 180, 0.8);  /* Semi-transparent pink background */
    color: white;  /* White text */
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  /* Optional: soft shadow */
    position: absolute;
    bottom: 20px;
    left: 20px;
    opacity: 1;
    z-index: 10;
  }
  

  .pulsing-circle {
    animation: pulse 2s infinite ease-in-out;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(0.5);
      opacity: 0.3;
      fill: #8e24aa; /* Dark purple */
    }
    50% {
      transform: scale(1.2); /* Slightly enlarge */
      opacity: 0.6;
      fill: #ff4081; /* Neon pink/purple */
    }
    100% {
      transform: scale(0.5);
      opacity: 0.3;
      fill: #8e24aa; /* Dark purple */
    }
  }
  
  /* Additional class to apply the pulse effect to the circle */
  .pulse-circle {
    width: 50px;
    height: 50px;
    background-color:#ff69b4;
    animation: pulse 5s infinite ;
  }
  